<div id="<%= dom_id product %>">
  <p>
    <strong>Supplier name:</strong>
    <%= product.supplier_name %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= product.name %>
  </p>

  <p>
    <strong>Cost price:</strong>
    <%= product.cost_price %>
  </p>

  <p>
    <strong>Selling price:</strong>
    <%= product.selling_price %>
  </p>

</div>
