<!DOCTYPE html>
<html>
  <head>
    <title>Inventory</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <script src="https://kit.fontawesome.com/9f3233953b.js" crossorigin="anonymous"></script>
  </head>

  <body class="scrollbar-hide bg-[#f0eeee]">
    <%= render 'layouts/nav' %>
    
    <% if (alert) %><%= render 'layouts/notice' %><% end %>
    
    <% if user_signed_in? %>
      <div class="flex flex-col md:flex-row">
		    <%= render 'ims/nav' %>
		    <section class="px-8">
        <%= yield %>
		    </section>
	    </div>
    <% else %>
      <%= yield %>
    <% end %>
    
  </body>
</html>
